<footer class="footer">
    <div class="f-info">
        <div class="f-info-social">
            <a href="/fb" target="_blank" title="Follow us on Facebook">
                <i class="fa-brands fa-facebook"></i>
            </a>
            <a href="/twitter" target="_blank" title="Follow us on Twitter">
                <i class="fa-brands fa-twitter"></i>
            </a>
            <a href="/insta" target="_blank" title="Follow us on Instagram">
                <i class="fa-brands fa-instagram"></i>
            </a>
            <a href="/linkedin" target="_blank" title="Follow us on LinkedIn">
                <i class="fa-brands fa-linkedin"></i>
            </a>
        </div>
        
        <div class="f-info-brand">
           <i class="fa-regular fa-compass icon" ></i>
            Wanderlust Private Limited
        </div>
        
        <div class="f-info-links">
            <a href="/privacy">Privacy Policy</a>
            <a href="/terms">Terms Of Service</a>
            <a href="/contact">Contact Us</a>
            <a href="/about">About Us</a>
        </div>
    </div>
</footer>